.cards-container{
    width: 50%;
    margin: auto;
}

.card{
    background-color: rgb(113, 203, 255);
}

.card-body{
    background-color:  rgb(233, 233, 233);
}

.alert-success, .alert-danger {
    margin: 1% 0;
}

.botao{
    background-color: rgb(113, 203, 255);
}

.botao:hover{
    background-color:  rgb(233, 233, 233);
}